.navbarPhotoContent {
  position: absolute;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #0d1015;
  height: 50px;
  left: 0rem;
}

.navbarPhotoContent--initial {
  animation: PhotoNavbarMoveInitial 1s;
}

.navbarPhotoContent--used {
  animation: PhotoNavbarMove 1s;
}

.navbar .navbarPhotoContent__logo {
  display: inline-block;
  max-width: 20rem;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: -15px;
  left: 2rem;
}

.navbarPhotoContent__logo--initial {
  animation: PhotoLogoMoveInitial 1.5s;
}

.navbarPhotoContent__logo--used {
  animation: PhotoLogoMove 0.5s;
}

@keyframes PhotoLogoMoveInitial {
  0% {
    max-width: 40rem;
    top: 50vh;
    margin-top: -153px;
    left: 50%;
    transform: translateX(-50%);
  }
  50% {
    left: 50%;
    transform: translateX(-50%);
    max-width: 40rem;
    top: 50vh;
    margin-top: -153px;
  }
  80% {
    margin-top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 20rem;
    top: -15px;
  }
  100% {
    left: 2rem;
  }
}

@keyframes PhotoNavbarMove {
  0% {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    left: 0;
    width: 300px;
  }
  100% {
    width: 100%;
  }
}

@keyframes PhotoNavbarMoveInitial {
  0% {
    opacity: 0;
    width: 0;
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  50% {
    left: 0;
    width: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    width: 100%;
  }
}

@keyframes PhotoLogoMove {
  0% {
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    left: 2rem;
  }
}

.navbarMainNav {
  z-index: 1000;
  position: absolute;
  background-color: #161e21;
  right: 20%;
  width: 500px;
  height: 50px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #fff;
  clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
  font-size: 1.7rem;
  animation: MainNavMove 1s;
}

@keyframes MainNavMove {
  0% {
    top: -50px;
  }
  75% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}

.navbarMainNavHidden {
  position: absolute;
  top: -50px;
}

.removeNav {
  animation: RemoveMainNav 0.5s;
}

@keyframes RemoveMainNav {
  0% {
    clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
    top: 0;
  }
  100% {
    clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
    top: -50px;
  }
}

.navbarMainNav ul {
  position: relative;
  top: 50%;
  transform: translatey(-50%);
}

.navbarMainNav li {
  display: inline-block;
}

.navbarMainNav li:not(:last-child) {
  padding-right: 3rem;
}

.remove {
  display: none !important;
}
