.mainContainer {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -11;
}

.initial-animation {
  -webkit-animation: bodyColor 1.5s;
  animation: bodyColor 1.5s;
}

@-webkit-keyframes bodyColor {
  0% {
    background-color: #161e21;
  }
  25% {
    background-color: #161e21;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes bodyColor {
  0% {
    background-color: #161e21;
  }
  25% {
    background-color: #161e21;
  }
  100% {
    background-color: #fff;
  }
}
