.navbarSubMenu--photo {
  top: 50px !important;
  background-color: #ff9803;
}

.navbarSubMenu {
  display: block;
  position: absolute;
  height: 25px;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: -1;
  animation: SubMenuMove 1.5s;
}

.navbarSubMenuRetracting {
  /* display: none; */
  position: absolute;
  height: 25px;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: -1;
  background-color: #161e21;
  animation: SubMenuMoveRetracting 1.5s;
}

@keyframes SubMenuMoveRetracting {
  0% {
    display: block;
  }
  50% {
  }
  100% {
    top: 0;
  }
}

@keyframes SubMenuMove {
  0% {
    opacity: 0;
    top: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 50px;
  }
}

.navbarSubMenu ul {
  margin: 0;
}

.navbarSubMenu li {
  display: inline-block;
  height: 25px;
  color: #fff;
}

.navbarSubMenu li:not(:last-child) {
  padding-right: 10rem;
}
