.navbarPhotoContent {
  position: absolute;
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #0d1015;
  height: 50px;
  left: 0rem;
  animation: PhotoNavbarMove 1s;
}

.navbarPhotoContent__logo {
  display: inline-block;
  max-width: 20rem;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: -15px;
  left: 2rem;
  animation: PhotoLogoMove 0.5s;
}

.navbarMainNav {
  z-index: 1000;
  position: absolute;
  background-color: #161e21;
  right: 20%;
  width: 500px;
  height: 50px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #fff;
  clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
  font-size: 1.7rem;
  animation: MainNavMove 1.5s;
}

.navbarMainNav ul {
  position: relative;
  top: 50%;
  transform: translatey(-50%);
}

.navbarMainNav li {
  display: inline-block;
}

.navbarMainNav li:not(:last-child) {
  padding-right: 3rem;
}
